@use '../1-settings/' as settings;
@use '../2-tools/' as tools;

.blog {
  padding-block: 6rem;
  background-color: settings.$color-bg-primary;

  &__top {
    text-align: center;
  }

  &__heading {
    color: #130606;
    font-family: Sen;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1.26316;
    letter-spacing: -0.0475rem;
  }

  &__description {
    max-inline-size: 38%;
    margin-block-start: 1rem;
    margin-inline: auto;
    color: #696262;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.87rem;
    margin-block-start: 3.44rem;
  }

  &-card {
    inline-size: 23.125rem;
    min-block-size: 29.1875rem;
    border-radius: 1rem;
    background-color: #fff;

    &__thumb {
      inline-size: 23.125rem;
      block-size: 15.625rem;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
    }

    &__info {
      padding-block-start: 1.25rem;
      padding-inline: 1.25rem;
      padding-block-end: 1.75rem;
    }

    &__date {
      position: relative;
      margin-inline-start: 0.63rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.85714;
      color: settings.$color-text-secondary;

      &::after {
        content: '';
        inline-size: 0.375rem;
        block-size: 0.375rem;
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: -0.63rem;
        border-radius: 50%;
        background-color: settings.$color-bg-button;
        transform: translateY(-50%);
      }
    }

    &__title {
      position: relative;
      margin-block-start: 1.56rem;
      color: settings.$color-text-primary;
      font-family: Poppins;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.75;

      &::after {
        content: '';
        inline-size: 10rem;
        block-size: 0.0625rem;
        position: absolute;
        inset-block-start: -0.75rem;
        inset-inline-start: 0;
        border-radius: 0.03125rem;
        background-color: #e2dfda;
      }
    }

    &__btn {
      margin-block-start: 0.75rem;
      padding-block: 0.75rem;
      padding-inline: 1.31rem;

      &:hover {
        background-color: color-mix(in srgb, settings.$color-bg-button 92%, black);
      }
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.38rem;
    margin-block-start: 2.37rem;
  }

  &__dot {
    inline-size: 0.375rem;
    block-size: 0.375rem;
    border-radius: 0.375rem;
    background-color: #5f5b53;

    &--active {
      background-color: settings.$color-bg-button;
    }
  }

  @include tools.respond-max(desktop) {
    &__list {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
