@use '../1-settings/' as settings;
@use '../2-tools/' as tools;

.site-footer {
  padding-block-start: 6rem;
  padding-block-end: 1.75rem;
  background-color: settings.$color-bg-secondary;

  &__row {
    display: grid;
    grid-template-columns: 22% 11% 11% 20%;
    justify-content: space-between;
  }

  &__description {
    margin-block-start: 1.12rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.85714;
    color: #bfbcb2;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 1.12rem;
    margin-block-start: 1.12rem;
  }

  &__social-icon {
    inline-size: 0.9375rem;
    block-size: 0.9375rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    position: relative;
    padding-inline-start: 0;
    margin-block-start: 2.69rem;
    list-style-type: none;

    &::after {
      content: '';
      inline-size: 8.125rem;
      block-size: 0.0625rem;
      position: absolute;
      inset-block-start: -1.75rem;
      inset-inline-start: 0;
      background-color: #59554b;
    }

    strong {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.85714;
      color: #fff;
    }
  }

  &__link {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.85714;
    color: #bfbcb2;
    text-decoration: none;
  }

  &__copyright {
    position: relative;
    margin-block-start: 4.19rem;

    &::after {
      content: '';
      inline-size: 100%;
      block-size: 0.0625rem;
      position: absolute;
      inset-block-start: -1.75rem;
      inset-inline-start: 0;
      background-color: #59554b;
    }

    &-text {
      margin-inline: auto;
      text-align: center;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.85714;
      color: #807d74;
    }
  }

  @include tools.respond-max(mobile) {
    &__row {
      grid-template-columns: 1fr;
      text-align: center;
    }

    &__column {
      margin-inline: auto;

      img {
        margin-inline: auto;
      }
    }

    &__socials {
      justify-content: center;
      margin-block-end: 3rem;
    }

    &__list {
      &::after {
        inline-size: 100%;
      }
    }
  }
}
